qc-app/n8n/workflows/task_automation.json
{
    "name": "Task Status Automation",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "task-created",
                "options": {}
            },
            "name": "Webhook Task Created",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "task-created"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "task-updated",
                "options": {}
            },
            "name": "Webhook Task Updated",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                500
            ],
            "webhookId": "task-updated"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO audit_log (table_name, record_id, action, changed_data) VALUES ('tasks', $json.id, 'N8N_AUTO', '{\"message\": \"Automated log from n8n\"}')"
            },
            "name": "Log to DB",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                550,
                400
            ],
            "credentials": {
                "postgres": {
                    "id": "postgresCredentials",
                    "name": "Postgres account"
                }
            }
        }
    ],
    "connections": {
        "Webhook Task Created": {
            "main": [
                [
                    {
                        "node": "Log to DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Task Updated": {
            "main": [
                [
                    {
                        "node": "Log to DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}