n8n-workflows/tuleap-unified-reconcile-deletes.json
{
  "name": "Tuleap Unified Reconcile Deletes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/4 * * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 4 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://qc-api:3001/tuleap-webhook/config?is_active=true",
        "options": {}
      },
      "id": "fetch-active-trackers",
      "name": "Fetch Active Trackers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const configs = $input.first().json.data || [];\nreturn configs.map(config => ({ json: config }));"
      },
      "id": "split-configs",
      "name": "Split Configs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-in-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [950, 300]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.item.json;\nconst baseUrl = $env.TULEAP_BASE_URL;\nconst accessKey = $env.TULEAP_ACCESS_KEY;\nconst trackerId = config.tuleap_tracker_id;\nconst qcProjectId = config.qc_project_id;\nconst trackerType = config.tracker_type;\n\nconst MAX_PAGES = 50;\nconst LIMIT = 100;\n\nconst present = [];\nlet offset = 0;\nlet pageCount = 0;\nlet truncated = false;\n\nwhile (pageCount < MAX_PAGES) {\n  const url = `${baseUrl}/api/v1/trackers/${trackerId}/artifacts?limit=${LIMIT}&offset=${offset}&values_format=collection`;\n  let resp;\n  try {\n    resp = await this.helpers.httpRequest({\n      url,\n      method: 'GET',\n      headers: { 'X-Auth-AccessKey': accessKey },\n      json: true,\n    });\n  } catch (err) {\n    return [{ json: { skipped: true, reason: `tuleap_fetch_failed: ${err.message}`, tuleap_tracker_id: trackerId } }];\n  }\n  const items = Array.isArray(resp) ? resp : (resp.collection || resp.data || []);\n  if (!items.length) break;\n  for (const a of items) present.push(a.id);\n  pageCount += 1;\n  if (items.length < LIMIT) break;\n  offset += LIMIT;\n}\nif (pageCount >= MAX_PAGES) truncated = true;\n\ntry {\n  const reconcileResp = await this.helpers.httpRequest({\n    url: 'http://qc-api:3001/tuleap-webhook/reconcile-deletes',\n    method: 'POST',\n    body: {\n      tuleap_tracker_id: trackerId,\n      qc_project_id: qcProjectId,\n      tracker_type: trackerType,\n      present_artifact_ids: present,\n      page_count: pageCount,\n      truncated,\n    },\n    json: true,\n  });\n  return [{ json: { tuleap_tracker_id: trackerId, present_count: present.length, page_count: pageCount, truncated, qc_response: reconcileResp } }];\n} catch (err) {\n  return [{ json: { skipped: true, reason: `qc_post_failed: ${err.message}`, tuleap_tracker_id: trackerId, present_count: present.length } }];\n}"
      },
      "id": "paginate-and-post",
      "name": "Paginate Tuleap and POST Reconcile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Every 4 minutes": {
      "main": [
        [
          {
            "node": "Fetch Active Trackers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Trackers": {
      "main": [
        [
          {
            "node": "Split Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Configs": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Paginate Tuleap and POST Reconcile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "",
  "meta": { "instanceId": "" },
  "tags": [
    { "name": "tuleap" },
    { "name": "unified" },
    { "name": "reconcile" }
  ]
}