n8n-workflows/tuleap-bug-deletion-sync.json
{
  "id": "BugDeletionSync001",
  "name": "Tuleap Bug Deletion Sync (Polling)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "d1000000-0001-4001-8001-000000000001",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 304]
    },
    {
      "parameters": {
        "url": "http://qc-api:3001/tuleap-webhook/config",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tracker_type",
              "value": "bug"
            },
            {
              "name": "is_active",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "d1000000-0002-4002-8002-000000000002",
      "name": "Fetch Bug Configs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 304]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-configs",
              "leftValue": "={{ $json.data?.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "d1000000-0003-4003-8003-000000000003",
      "name": "Has Configs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 304]
    },
    {
      "parameters": {
        "jsCode": "const configs = $input.first().json.data || [];\nif (configs.length === 0) return [];\n\nreturn configs\n  .filter(c => c.tuleap_base_url && c.tuleap_tracker_id)\n  .map(c => ({\n    json: {\n      tuleap_tracker_id: c.tuleap_tracker_id,\n      tuleap_base_url: c.tuleap_base_url,\n      qc_project_id: c.qc_project_id\n    }\n  }));"
      },
      "id": "d1000000-0004-4004-8004-000000000004",
      "name": "Prepare Trackers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 304]
    },
    {
      "parameters": {
        "url": "={{ $json.tuleap_base_url + '/api/trackers/' + $json.tuleap_tracker_id + '/artifacts?values=all&limit=500&offset=0' }}",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "={{ $env.TULEAP_API_TOKEN }}"
            }
          ]
        }
      },
      "id": "d1000000-0005-4005-8005-000000000005",
      "name": "Fetch Tuleap Artifacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 304]
    },
    {
      "parameters": {
        "jsCode": "const trackerId = $('Prepare Trackers').first().json.tuleap_tracker_id;\n\nlet artifacts = $input.first().json;\nif (!Array.isArray(artifacts)) {\n  if (artifacts?.collection && Array.isArray(artifacts.collection)) {\n    artifacts = artifacts.collection;\n  } else {\n    artifacts = [];\n  }\n}\n\nconst activeIds = artifacts.map(a => a.id).filter(Boolean);\n\nreturn [{\n  json: {\n    tuleap_tracker_id: trackerId,\n    active_tuleap_artifact_ids: activeIds,\n    total_fetched: activeIds.length\n  }\n}];"
      },
      "id": "d1000000-0006-4006-8006-000000000006",
      "name": "Extract Active IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qc-api:3001/tuleap-webhook/bug-deletion-sync",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tuleap_tracker_id: $json.tuleap_tracker_id, active_tuleap_artifact_ids: $json.active_tuleap_artifact_ids }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d1000000-0007-4007-8007-000000000007",
      "name": "Send to Deletion Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 304]
    },
    {
      "parameters": {
        "jsCode": "const trackerId = $('Prepare Trackers').first().json.tuleap_tracker_id;\nconsole.log(`[bug-deletion-sync] No configs with tuleap_base_url found for tracker ${trackerId}`);\nreturn [{ json: { skipped: true, reason: 'No valid tracker configs' } }];"
      },
      "id": "d1000000-0008-4008-8008-000000000008",
      "name": "No Trackers - Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 500]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Bug Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Bug Configs": {
      "main": [
        [
          {
            "node": "Has Configs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Configs?": {
      "main": [
        [
          {
            "node": "Prepare Trackers",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Trackers": {
      "main": [
        [
          {
            "node": "Fetch Tuleap Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tuleap Artifacts": {
      "main": [
        [
          {
            "node": "Extract Active IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Active IDs": {
      "main": [
        [
          {
            "node": "Send to Deletion Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "tuleap"
    },
    {
      "name": "bug-deletion-sync"
    }
  ]
}
