n8n-workflows/tuleap-unified-sync.json
{
  "name": "Tuleap Unified Sync",
  "nodes": [
    {
      "id": "webhook-unified-trigger",
      "name": "Tuleap Unified Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "path": "tuleap-unified",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-tuleapunified01"
    },
    {
      "id": "normalize-payload",
      "name": "Map Action Vocab",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = (raw.body !== undefined && typeof raw.body === 'object') ? raw.body : raw;\n\nlet payload, artifactId, trackerId, projectId, rawAction;\n\nif (body.payload !== undefined) {\n  const p = typeof body.payload === 'string' ? JSON.parse(body.payload) : body.payload;\n  payload = p;\n  artifactId = p.current?.id || p.artifact_id;\n  trackerId = p.current?.tracker?.id || p.tracker_id;\n  projectId = p.current?.project?.id || p.project?.id || p.project_id;\n  rawAction = p.action || 'update';\n} else if (body.artifact !== undefined) {\n  payload = { current: body.artifact, project: body.project, user: body.user, action: body.action };\n  artifactId = body.artifact.id;\n  trackerId = body.artifact.tracker?.id;\n  projectId = body.project?.id;\n  rawAction = body.action || 'create';\n} else {\n  throw new Error('Unrecognized Tuleap payload format');\n}\n\nif (!trackerId) throw new Error('No tracker ID found in payload');\n\nconst ACTION_MAP = {\n  'create': 'sync',\n  'update': 'sync',\n  'artifact:created': 'sync',\n  'artifact:updated': 'sync',\n  'artifact:deleted': 'delete',\n  'delete': 'delete',\n  'reject': 'reject',\n  'archive': 'archive',\n};\n\nconst action = ACTION_MAP[rawAction] || 'sync';\n\nconst values = payload.current?.values || payload.values || [];\n\nreturn {\n  json: {\n    tracker_id: trackerId,\n    project_id: projectId,\n    action: action,\n    artifact: {\n      id: artifactId,\n      values: values\n    },\n    project: { id: projectId },\n    raw_payload: payload\n  }\n};"
      }
    },
    {
      "id": "send-to-qc-unified",
      "name": "Send to QC Unified API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [700, 300],
      "parameters": {
        "method": "POST",
        "url": "http://qc-api:3001/tuleap-webhook/unified",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "respond-to-tuleap",
      "name": "Respond to Tuleap",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [950, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Tuleap Unified Webhook": {
      "main": [
        [
          {
            "node": "Map Action Vocab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Action Vocab": {
      "main": [
        [
          {
            "node": "Send to QC Unified API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to QC Unified API": {
      "main": [
        [
          {
            "node": "Respond to Tuleap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": ""
  },
  "tags": [
    {
      "name": "tuleap"
    },
    {
      "name": "unified"
    }
  ]
}
