n8n/workflows/tuleap_bug_sync.json
{
    "name": "Tuleap Bug Sync",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "tuleap-bug",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [150, 300],
            "webhookId": "tuleap-bug-webhook"
        },
        {
            "parameters": {
                "jsCode": "// Tuleap sends form data with 'payload' field containing JSON string\nconst rawBody = $input.first().json.body;\nlet payload;\n\n// Handle form-urlencoded payload from Tuleap\nif (typeof rawBody === 'string' && rawBody.includes('payload=')) {\n  const params = new URLSearchParams(rawBody);\n  const payloadStr = params.get('payload');\n  payload = JSON.parse(payloadStr);\n} else if (rawBody.payload) {\n  // Already parsed\n  payload = typeof rawBody.payload === 'string' ? JSON.parse(rawBody.payload) : rawBody.payload;\n} else {\n  // Direct JSON\n  payload = rawBody;\n}\n\nreturn [{ json: { payload } }];"
            },
            "name": "Parse Tuleap Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [350, 300]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM tuleap_sync_config WHERE tuleap_tracker_id = {{$node[\"Parse Tuleap Payload\"].json.payload.current.tracker.id}} AND tracker_type = 'bug' AND is_active = TRUE LIMIT 1"
            },
            "name": "Get Sync Config",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [550, 300],
            "credentials": {
                "postgres": {
                    "id": "1",
                    "name": "QC Tool Postgres"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "leftValue": "={{$node[\"Get Sync Config\"].json.length}}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ]
                }
            },
            "name": "Has Config?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [750, 300]
        },
        {
            "parameters": {
                "jsCode": "const payload = $('Parse Tuleap Payload').first().json.payload;\nconst config = $('Get Sync Config').first().json;\nconst artifact = payload.current;\nconst fieldMappings = config.field_mappings || {};\nconst statusMappings = config.status_mappings || {};\n\n// Helper to get field value by field ID\nfunction getFieldValue(values, fieldId) {\n  if (!values || !fieldId) return null;\n  const field = values.find(v => v.field_id === parseInt(fieldId));\n  if (!field) return null;\n  \n  // Handle different field types\n  if (field.type === 'sb' || field.type === 'msb') {\n    return field.values && field.values[0] ? field.values[0].label || field.values[0] : null;\n  }\n  if (field.type === 'string' || field.type === 'text') {\n    return field.value;\n  }\n  if (field.type === 'date') {\n    return field.value;\n  }\n  if (field.type === 'aid') {\n    return field.value;\n  }\n  return field.value || null;\n}\n\n// Map Tuleap status to QC Tool status\nfunction mapStatus(tuleapStatus) {\n  if (statusMappings[tuleapStatus]) {\n    return statusMappings[tuleapStatus];\n  }\n  // Default mappings\n  const defaults = {\n    'New': 'Open',\n    'Assigned': 'In Progress',\n    'Fixed': 'Resolved',\n    'Closed': 'Closed',\n    'Rejected': 'Closed',\n    'Open': 'Open',\n    'In Progress': 'In Progress',\n    'Reopened': 'Reopened'\n  };\n  return defaults[tuleapStatus] || 'Open';\n}\n\n// Map severity\nfunction mapSeverity(tuleapSeverity) {\n  const severityMap = {\n    'Critical': 'critical',\n    'High': 'high',\n    'Major': 'high',\n    'Medium': 'medium',\n    'Normal': 'medium',\n    'Low': 'low',\n    'Minor': 'low'\n  };\n  return severityMap[tuleapSeverity] || 'medium';\n}\n\nconst values = artifact.values || [];\n\n// Extract bug data using field mappings\nconst bugData = {\n  tuleap_artifact_id: artifact.id,\n  tuleap_tracker_id: artifact.tracker.id,\n  tuleap_url: config.tuleap_base_url ? `${config.tuleap_base_url}/plugins/tracker/?aid=${artifact.id}` : null,\n  bug_id: `TLP-${artifact.id}`,\n  title: getFieldValue(values, fieldMappings.title_field_id) || `Bug ${artifact.id}`,\n  description: getFieldValue(values, fieldMappings.description_field_id),\n  status: mapStatus(getFieldValue(values, fieldMappings.status_field_id)),\n  severity: mapSeverity(getFieldValue(values, fieldMappings.severity_field_id)),\n  priority: getFieldValue(values, fieldMappings.priority_field_id) || 'medium',\n  bug_type: getFieldValue(values, fieldMappings.type_field_id),\n  component: getFieldValue(values, fieldMappings.component_field_id),\n  project_id: config.qc_project_id,\n  reported_by: payload.user ? payload.user.display_name : null,\n  assigned_to: getFieldValue(values, fieldMappings.assigned_to_field_id),\n  reported_date: artifact.submitted_on,\n  raw_tuleap_payload: payload\n};\n\n// Compute payload hash for idempotency\nconst crypto = require('crypto');\nconst payloadHash = crypto.createHash('sha256').update(JSON.stringify(payload)).digest('hex');\n\nreturn [{ \n  json: { \n    bugData,\n    payloadHash,\n    action: payload.action || 'update'\n  } \n}];"
            },
            "name": "Transform Bug Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [950, 200]
        },
        {
            "parameters": {
                "url": "http://qc-api:3001/tuleap-webhook/bug",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{JSON.stringify($json.bugData)}}",
                "options": {
                    "timeout": 30000
                }
            },
            "name": "Send to QC API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1150, 200]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"success\": true, \"message\": \"Bug processed\", \"bug_id\": \"{{$json.data.id || 'unknown'}}\"}"
            },
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [1350, 200]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"success\": false, \"message\": \"No sync configuration found for this tracker\"}"
            },
            "name": "Respond No Config",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [950, 400]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO tuleap_webhook_log (tuleap_artifact_id, tuleap_tracker_id, artifact_type, action, payload_hash, raw_payload, processing_status, processed_at) VALUES ({{$node[\"Parse Tuleap Payload\"].json.payload.current.id}}, {{$node[\"Parse Tuleap Payload\"].json.payload.current.tracker.id}}, 'bug', '{{$node[\"Parse Tuleap Payload\"].json.payload.action || 'update'}}', '{{$node[\"Transform Bug Data\"].json.payloadHash}}', '{{JSON.stringify($node[\"Parse Tuleap Payload\"].json.payload).replace(/'/g, \"''\")}}'::jsonb, 'processed', NOW()) ON CONFLICT (tuleap_artifact_id, payload_hash) DO NOTHING"
            },
            "name": "Log Webhook",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [1350, 350],
            "credentials": {
                "postgres": {
                    "id": "1",
                    "name": "QC Tool Postgres"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Tuleap Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Tuleap Payload": {
            "main": [
                [
                    {
                        "node": "Get Sync Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Sync Config": {
            "main": [
                [
                    {
                        "node": "Has Config?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Config?": {
            "main": [
                [
                    {
                        "node": "Transform Bug Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond No Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform Bug Data": {
            "main": [
                [
                    {
                        "node": "Send to QC API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to QC API": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Log Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "tuleap",
            "createdAt": "2024-01-01T00:00:00.000Z",
            "updatedAt": "2024-01-01T00:00:00.000Z"
        }
    ],
    "triggerCount": 0,
    "updatedAt": "2024-01-01T00:00:00.000Z",
    "versionId": "1"
}
