n8n/workflows/tuleap_task_sync.json
{
    "name": "Tuleap Task Sync",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "tuleap-task",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [150, 300],
            "webhookId": "tuleap-task-webhook"
        },
        {
            "parameters": {
                "jsCode": "// Tuleap sends form data with 'payload' field containing JSON string\nconst rawBody = $input.first().json.body;\nlet payload;\n\n// Handle form-urlencoded payload from Tuleap\nif (typeof rawBody === 'string' && rawBody.includes('payload=')) {\n  const params = new URLSearchParams(rawBody);\n  const payloadStr = params.get('payload');\n  payload = JSON.parse(payloadStr);\n} else if (rawBody.payload) {\n  payload = typeof rawBody.payload === 'string' ? JSON.parse(rawBody.payload) : rawBody.payload;\n} else {\n  payload = rawBody;\n}\n\nreturn [{ json: { payload } }];"
            },
            "name": "Parse Tuleap Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [350, 300]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM tuleap_sync_config WHERE tuleap_tracker_id = {{$node[\"Parse Tuleap Payload\"].json.payload.current.tracker.id}} AND tracker_type = 'task' AND is_active = TRUE LIMIT 1"
            },
            "name": "Get Sync Config",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [550, 300],
            "credentials": {
                "postgres": {
                    "id": "1",
                    "name": "QC Tool Postgres"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "leftValue": "={{$node[\"Get Sync Config\"].json.length}}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ]
                }
            },
            "name": "Has Config?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [750, 300]
        },
        {
            "parameters": {
                "jsCode": "const payload = $('Parse Tuleap Payload').first().json.payload;\nconst config = $('Get Sync Config').first().json;\nconst artifact = payload.current;\nconst fieldMappings = config.field_mappings || {};\n\n// Helper to get field value by field ID\nfunction getFieldValue(values, fieldId) {\n  if (!values || !fieldId) return null;\n  const field = values.find(v => v.field_id === parseInt(fieldId));\n  if (!field) return null;\n  \n  if (field.type === 'sb' || field.type === 'msb') {\n    return field.values && field.values[0] ? field.values[0].label || field.values[0] : null;\n  }\n  if (field.type === 'string' || field.type === 'text') {\n    return field.value;\n  }\n  if (field.type === 'date') {\n    return field.value;\n  }\n  return field.value || null;\n}\n\n// Get assigned user name from Tuleap payload\nfunction getAssignedUser(values, fieldId) {\n  if (!values || !fieldId) return null;\n  const field = values.find(v => v.field_id === parseInt(fieldId));\n  if (!field || !field.values) return null;\n  \n  // Tuleap returns user info in values array\n  const user = field.values[0];\n  if (!user) return null;\n  return user.display_name || user.username || user.label || null;\n}\n\nconst values = artifact.values || [];\n\n// Extract task data\nconst taskData = {\n  tuleap_artifact_id: artifact.id,\n  tuleap_url: config.tuleap_base_url ? `${config.tuleap_base_url}/plugins/tracker/?aid=${artifact.id}` : null,\n  task_name: getFieldValue(values, fieldMappings.title_field_id) || `Task ${artifact.id}`,\n  notes: getFieldValue(values, fieldMappings.description_field_id),\n  assignee_name: getAssignedUser(values, fieldMappings.assigned_to_field_id),\n  project_id: config.qc_project_id,\n  tuleap_last_modified: artifact.last_update_date || artifact.submitted_on,\n  raw_tuleap_payload: payload\n};\n\n// Compute payload hash for idempotency\nconst crypto = require('crypto');\nconst payloadHash = crypto.createHash('sha256').update(JSON.stringify(payload)).digest('hex');\n\nreturn [{ \n  json: { \n    taskData,\n    payloadHash,\n    action: payload.action || 'update'\n  } \n}];"
            },
            "name": "Extract Task Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [950, 200]
        },
        {
            "parameters": {
                "url": "http://qc-api:3001/tuleap-webhook/resources",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "name",
                            "value": "={{$json.taskData.assignee_name}}"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000
                }
            },
            "name": "Lookup Resource",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1150, 200]
        },
        {
            "parameters": {
                "jsCode": "const taskData = $('Extract Task Data').first().json.taskData;\nconst payloadHash = $('Extract Task Data').first().json.payloadHash;\nconst resourceResponse = $('Lookup Resource').first().json;\n\nconst resource = resourceResponse.data;\nconst hasResource = resource && resource.id;\n\n// Build the request payload for the QC API\nconst requestPayload = {\n  tuleap_artifact_id: taskData.tuleap_artifact_id,\n  tuleap_url: taskData.tuleap_url,\n  task_name: taskData.task_name,\n  notes: taskData.notes,\n  project_id: taskData.project_id,\n  assignee_name: taskData.assignee_name,\n  resource_id: hasResource ? resource.id : null,\n  tuleap_last_modified: taskData.tuleap_last_modified,\n  raw_tuleap_payload: taskData.raw_tuleap_payload,\n  payload_hash: payloadHash\n};\n\nreturn [{ \n  json: { \n    requestPayload,\n    hasResource,\n    resourceName: hasResource ? resource.resource_name : null\n  } \n}];"
            },
            "name": "Build Request",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1350, 200]
        },
        {
            "parameters": {
                "url": "http://qc-api:3001/tuleap-webhook/task",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{JSON.stringify($json.requestPayload)}}",
                "options": {
                    "timeout": 30000
                }
            },
            "name": "Send to QC API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1550, 200]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"success\": true, \"message\": \"{{$json.message || 'Task processed'}}\", \"action\": \"{{$json.action || 'unknown'}}\"}"
            },
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [1750, 200]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"success\": false, \"message\": \"No sync configuration found for this tracker\"}"
            },
            "name": "Respond No Config",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [950, 400]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO tuleap_webhook_log (tuleap_artifact_id, tuleap_tracker_id, artifact_type, action, payload_hash, raw_payload, processing_status, processing_result, processed_at) VALUES ({{$node[\"Parse Tuleap Payload\"].json.payload.current.id}}, {{$node[\"Parse Tuleap Payload\"].json.payload.current.tracker.id}}, 'task', '{{$node[\"Parse Tuleap Payload\"].json.payload.action || 'update'}}', '{{$node[\"Extract Task Data\"].json.payloadHash}}', '{{JSON.stringify($node[\"Parse Tuleap Payload\"].json.payload).replace(/'/g, \"''\")}}'::jsonb, '{{$node[\"Send to QC API\"].json.success ? 'processed' : 'failed'}}', '{{$node[\"Send to QC API\"].json.action || 'unknown'}}', NOW()) ON CONFLICT (tuleap_artifact_id, payload_hash) DO NOTHING"
            },
            "name": "Log Webhook",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [1750, 350],
            "credentials": {
                "postgres": {
                    "id": "1",
                    "name": "QC Tool Postgres"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Tuleap Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Tuleap Payload": {
            "main": [
                [
                    {
                        "node": "Get Sync Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Sync Config": {
            "main": [
                [
                    {
                        "node": "Has Config?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Config?": {
            "main": [
                [
                    {
                        "node": "Extract Task Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond No Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Task Data": {
            "main": [
                [
                    {
                        "node": "Lookup Resource",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lookup Resource": {
            "main": [
                [
                    {
                        "node": "Build Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Request": {
            "main": [
                [
                    {
                        "node": "Send to QC API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to QC API": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Log Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "tuleap",
            "createdAt": "2024-01-01T00:00:00.000Z",
            "updatedAt": "2024-01-01T00:00:00.000Z"
        }
    ],
    "triggerCount": 0,
    "updatedAt": "2024-01-01T00:00:00.000Z",
    "versionId": "1"
}
